body {
	background: #69d2e7;	
}
.container{
	max-width: 1080px;
	margin: 20px auto;
	background: #a7dbd8;
	overflow: hidden;
	padding: 10px;
}

.header{
	border: 1px solid #dedede;
	padding: 10px;
	margin: 10px;
}

/* Main */
	.left{
		width: 493px;
		border: 1px solid #dedede;
		padding: 10px;
		margin: 10px;
		float: left;
	}

	.middle{
		width: 500px;
		border: 1px solid #dedede;
		padding: 10px;
		margin: 10px;
		float: left;
	}

		.middle img{
			max-width: 100%;
			height: auto;
		}

	.right{
		width: 495px;
		border: 1px solid #dedede;
		padding: 10px;
		margin: 10px;
		float: left;
	}

.footer{
	clear: both;
	border: 1px solid #dedede;
	padding: 10px;
	margin: 10px;
}

@media screen and (max-width: 780px) {
	
	.header, 
	.footer{
		text-align: center;
	}
	.left {
		width: auto;
		float: none;
	}
	
	.middle {
		width: auto;
		float: none;
	}
	
	.right {
		width: auto;
		float: none;
	}

}

#logo{
		margin-top: 130px;
}

#monlog{
		font-size: 35px;
		margin-top: 10px;

}

#kinlog{
		font-size: 21px;
		color: #fff;

}

#log{
		font-size: 21px;
}

#fomlog{
		margin-top: 160px;
}

#backlog{
		background-color: #888888;
		background-color:rgba(0,0,0,0.10);
		border-radius:5% 5% 5% 5%;
		height: 100px;
		width: 250px;
}

#setlog{
		margin-top: -80px;
}

#denah{
		font-size: 35px;
}

#gedung{
		font-size: 20px;
		color:white;
}

#ketkelas{
		font-size: 15px;
		color:white;
}

#kelas{
		margin-top: 90px;
}

#ruang{
		background-color: #888888;
		background-color:rgba(0,0,0,0.10);
		border-radius:5% 5% 5% 5%;
		height: 300px;
		width: 280px;
}

.ruang20{
		margin-top: -370px;
		margin-left: -130px;
}

.ruang21{
		margin-top: -46px;
		margin-left: -70px;
}

.ruang1{
		margin-top: -46px;
		margin-left: 10px;
}

.ruang2{
		margin-top: -46px;
		margin-left: 90px;
}

.ruang3{
		margin-top: -46px;
		margin-left: 150px;
}
.ruang19{
		margin-left: -205px;
		margin-top: -10px;
}		

.ruang18{
		margin-left: -205px;
		margin-top: -15px;
}

.ruang17{
		margin-left: -205px;
		margin-top: -15px;
}

.ruang16{
		margin-left: -205px;
		margin-top: -15px;
}

.ruang15{
		margin-left: -205px;
		margin-top: -15px;
}

.ruang14{
		margin-left: -205px;
		margin-top: -15px;
}

.ruang4{
		margin-top: -202px;
		margin-left: 225px;
}

.ruang5{
		margin-top: -15px;
		margin-left: 225px;
}

.ruang6{
		margin-top: -15px;
		margin-left: 225px;
}

.ruang7{
		margin-top: -15px;
		margin-left: 225px;
}

.ruang8{
		margin-top: -15px;
		margin-left: 225px;
}

.ruang9{
		margin-top: -15px;
		margin-left: 225px;
}

.ruang13{
		margin-top: -10px;
		margin-left: -120px;
}

.ruang12{
		margin-top: -46px;
		margin-left: -60px;
}

.ruang11{
		margin-top: -46px;
		margin-left: 90px;
}

.ruang10{
		margin-top: -46px;
		margin-left: 150px;
}

#kananhome {
		text-align: justify;
		font-size: 20px;
		margin-top: 120px;
}

.ketkiri{
		width: 70%;
		height: 100px;
		margin-left: 311.5px;
		background: #f38630;
}

#ketataskiri{
		font-size: 35px;
}

.keter{
		margin-top: -90px;
		margin-left: -720px;
}

#ketbawahkiri{
		font-size: 31px;
		color: white;
}

.ketkanan{
		width: 30%;
		height: 100px;
		background: #fa6900;
		margin-left: 0px;
		margin-top: -100px;
}

.backleher{
		background: #69d2e7;
}

.berahom{
		font-size: 20px;
		margin-top: 10px;
		margin-left: 200px;
}

.lawhom{
		font-size: 20px;
		margin-top: -24px;
}

.kelhom{
		font-size: 20px;
		margin-top: -23px;
		margin-left: 750px;
}

#bawah{ 
		background-color: #69d2e7;
}		


#kethome{ 
		font-family: arial;
		margin-top: 2px
}

#datasek{
		font-size: 50px;
}

#konsek{
		font-size: 25px;
		color: white;
}

#tgl {
		background: #69d2e7;
		border-radius: 5% 5% 5% 5%;
		width: 150px;
		height: 150px;
		margin-top: 40px;
		margin-left: 70px;

}

#hrftgl{
		font-size: 25px;
		color: #69d2e7;
		background: white;
		border-radius: 10% 10% 0% 0%;
}

#angtgl{
		font-size: 25px;
		margin-top: 30px;
		color: white;
}

#suhu{
		background: #69d2e7;
		border-radius: 5% 5% 5% 5%;
		width: 150px;
		height: 150px;
		margin-top: -150px;
		margin-left: 280px;
}


#hrfsuhu{
		font-size: 25px;
		color: #69d2e7;
		background: white;
		border-radius: 10% 10% 0% 0%;
}

#angsuhu{
		font-size: 50px;
		margin-top: 30px;
		color: white;
}

#pwm {
		background: #69d2e7;
		border-radius: 5% 5% 5% 5%;
		width: 150px;
		height: 150px;
		margin-left: 280px;
		margin-top: 20px;
}

#hrfpwm{
		font-size: 25px;
		color: #69d2e7;
		background: white;
		border-radius: 10% 10% 0% 0%;
}

#angpwm{
		font-size: 50px;
		margin-top: 30px;
		color: white;
}

#orang {
		background: #69d2e7;
		border-radius: 5% 5% 5% 5%;
		width: 150px;
		height: 150px;
		margin-left: 70px;
		margin-top: -150px;
}

#hrforang{
		font-size: 20px;
		color: #69d2e7;
		background: white;
		border-radius: 10% 10% 0% 0%;
}

#angorang{
		font-size: 50px;
		margin-top: 30px;
		color: white;
}

#konman{
		font-size: 25px;
		color: white;
}

#hidup{
		margin-left: 90px;
		margin-top: 41px;
}

#mati{
		margin-top: 10px;
		margin-left: 90px;
}