.panel.panel-default(style='height: ; background-color:#ECF0F1; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);')
    .panel-body
        h1.text-center Denah Kelas
        h4.text-center.text-danger Gedung GKU Lantai 7, KU3.07.1-21
        .row.text-center
            .col-sm-12
                center
                    table#denah
                        tr
                            td
                            td
                                button.btn.btn-default#ruang20(type='button') 20
                            td
                                button.btn.btn-default#ruang21(type='button') 21
                            td
                                button.btn.btn-default#ruang1(type='button') 01
                            td
                                button.btn.btn-default#ruang2(type='button') 02
                            td
                                button.btn.btn-default#ruang3(type='button') 03
                            td
                        tr
                            td
                                button.btn.btn-default#ruang19(type='button') 19
                            td
                            td
                            td
                            td
                            td
                            td
                                button.btn.btn-default#ruang4(type='button') 04
                        tr
                            td
                                button.btn.btn-default#ruang18(type='button') 18
                            td
                            td
                            td
                            td
                            td
                            td
                                button.btn.btn-default#ruang5(type='button') 05
                        tr
                            td
                                button.btn.btn-default#ruang17(type='button') 17
                            td
                            td
                            td
                            td
                            td
                            td
                                button.btn.btn-default#ruang6(type='button') 06
                        tr
                            td
                                button.btn.btn-default#ruang16(type='button') 16
                            td
                            td
                            td
                            td
                            td
                            td
                                button.btn.btn-default#ruang7(type='button') 07
                        tr
                            td
                                button.btn.btn-default#ruang15(type='button') 15
                            td
                            td
                            td
                            td
                            td
                            td
                                button.btn.btn-default#ruang8(type='button') 08
                        tr
                            td
                                button.btn.btn-default#ruang14(type='button') 14
                            td
                            td
                            td
                            td
                            td
                            td
                                button.btn.btn-default#ruang9(type='button') 09
                        tr
                            td
                            td
                                button.btn.btn-default#ruang13(type='button') 13
                            td
                                button.btn.btn-default#ruang12(type='button') 12
                            td
                            td
                                button.btn.btn-default#ruang11(type='button') 11
                            td
                                button.btn.btn-default#ruang10(type='button') 10
                            td