html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= pageTitle
        block head
            link(href="assets/css/bootstrap.min.css" rel="stylesheet")
            link(href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet")   
            link(href="assets/css/justified-nav.css" rel="stylesheet")
    body
        .container
            .row
                div(style="padding: 15px")
                    img(src="assets/img/header.png" width="100%")
            .masthead
                nav
                    ul.nav.nav-justified
                        li
                            a(href="/") Beranda
                        li
                            a(href="history") History
                        li
                            a(href="/logout") Logout

            .row
                block content
            footer.footer.text-center
                p &copy; 2016 webmonitoring.club, Ivan Fadillah Achmad. Pembimbing 1 : Unang Sunarya, Pembimbing 2 : Dwi Andi Nurmantris.
            br
        block pageScript
            script(src="assets/js/ie-emulation-modes-warning.js")
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
            script(src="assets/js/ie10-viewport-bug-workaround.js")
            script(src="https://cdn.firebase.com/js/client/2.4.2/firebase.js")

