#myModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        // Modal content
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Monitoring & Controlling Kipas Ruangan KU3.07.1
            .modal-body
                .row
                    .col-sm-8.text-center
                        h4 Kondisi Sekarang
                        .col-sm-6
                            .panel.panel-success
                                .panel-heading Suhu
                                h1#suhu(<='', h1='')
                                    .panel-body
                                        .suhu  
                        .col-sm-6
                            .panel.panel-success
                                .panel-heading PWM
                                h1#pwm(<='', h1='')
                                    .panel-body
                                        .pwm  
                    .col-sm-4.text-center
                        h4 Menghidupkan Sistem
                        button#on.btn.btn-success(data-on='1', onclick="document.getElementById('myImage').src='/assets/on.png'") ON
                        button#off.btn.btn-success(data-off='0', onclick="document.getElementById('myImage').src='/assets/mati.png'") OFF
                        br
                        img#myImage(src='/assets/mati.png', style='width:100px')
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close