script(src='https://www.gstatic.com/firebasejs/4.1.5/firebase.js')
script.
    // Initialize Firebase
    window.activeButton = 0;
    window.realActiveButton = 0;
    window.fakeActiveButton = 0;
    var realIds = [14,15,16,17,18,19,20,21,1,2,3];
    var fakeIds = [4,5,6,7,8,9,10,11,12,13];
    var config = {
    apiKey: "AIzaSyBP6VfejdUby1NR9zxlnayIGoFFT-TiYmY",
    authDomain: "kipas-mandiri.firebaseapp.com",
    databaseURL: "https://kipas-mandiri.firebaseio.com",
    projectId: "kipas-mandiri",
    storageBucket: "kipas-mandiri.appspot.com",
    messagingSenderId: "1061853030942"
    };
    firebase.initializeApp(config);
    var suhu = document.getElementById('suhu');
    var dbRef = firebase.database ().ref() .child ('suhu');
    dbRef.on('value', snap => suhu.innerText = snap.val()+"Celcius");
    var pwm = document.getElementById('pwm');
    var dbRef = firebase.database ().ref() .child ('pwm');
    dbRef.on('value', snap => pwm.innerText = snap.val() + " %");
    var dbRefAsli = firebase.database().ref().child('kontrol');
    var dbRefPalsu = firebase.database().ref().child('kontrol1');
    var statuskontrol = document.getElementById('statuskontrol');
    $('#denah').on('click', 'button', function (e) {
        e.preventDefault();
        var id = $(this).attr('id');
        var prefix = 'ruang';
        id = parseInt(id.substring(prefix.length), 10);
        window.activeButton = id;
        $('#myModal').modal('show');
    });
    $('#myModal').on('hidden.bs.modal', function () {
        window.activeButton = 0;
        $('#on').off('click');
        $('#off').off('click');
        $('#myImage').attr('src', '/assets/mati.png');
    });
    $('#myModal').on('shown.bs.modal', function () {
        var isReal = $.inArray(window.activeButton, realIds) > -1;
        var ref = isReal ? dbRefAsli : dbRefPalsu;
        if (window.activeButton == window.realActiveButton || window.activeButton == window.fakeActiveButton) {
            $('#myImage').attr('src', '/assets/on.png');
        }
        $('#on').on('click',function (e) {
            $(this).data('on');
            ref.set({
                kontrol: 1
            });
            var ids = isReal ? realIds : fakeIds;
                ids.forEach(function (id) {
                    $('#ruang'+id).removeClass().addClass('btn btn-default');
                });
            if (isReal) 
                window.realActiveButton = window.activeButton
            else
                window.fakeActiveButton = window.activeButton;
            
            $('#ruang'+window.activeButton).removeClass().addClass('btn btn-success');
        });
        $('#off').on('click', function (e) {
            $(this).data('off');
            ref.set({
                kontrol: 0
            });
            if (isReal) 
                window.realActiveButton = 0
            else
                window.fakeActiveButton = 0;
            
            $('#ruang'+window.activeButton).removeClass().addClass('btn btn-default');
        });
    });