extends _layout.pug

block content
    .col-lg-6
        br
        .panel.panel-default(style='height: ; background-color:#ECF0F1; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);')
            .panel-body
                h1 Selamat Datang, Admin
                p.text-justify
                    | Website Monitoring ini berguna untuk memperhatikan angin agar tetap berjalan dengan baik,
                    | menjaga kriteria ruangan ideal serta dapat mengontrol kipas angin jika terjadi kerusakan pada
                    | komponen pendukung kipas. Silahkan pilih kelas yang akan di monitoring pada denah kelas gedung
                    | GKU lantai 7.
    .col-lg-6
        br
        include _denah_beranda.pug
        include _modal_beranda.pug
append pageScript
    include _scripts_beranda.pug

                            