extends _layout

block content
    .col-lg-5
        br
        .panel.panel-default(style='height: ; background-color:#ECF0F1; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);')
            canvas#chart(height="300px")
    .col-lg-7
        br
        .panel.panel-default(style='height: ; background-color:#ECF0F1; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);')
            .panel-body
                h2.text-center.text-danger Tabel Data Tersimpan
                .page-header
                    center
                        form(action='/history', method='get', name='postform')
                            table(width='550', border='0')
                                td(width='70') Tanggal Awal
                                td(colspan='2')
                                    input(type='text', name='tgl_awal', size='10', placeholder='yyyy-mm-dd' value=tglBawah)
                                    a(href='javascript:void(0)', onclick='if(self.gfPop)gfPop.fPopCalendar(document.postform.tgl_awal);return false;')
                                        img#popcal(src='/assets/calender/calender.jpeg', alt='', name='popcal', width='34', height='29', border='0', align='absmiddle')
                                td(width='70') Tanggal Akhir
                                td(colspan='2')
                                    input(type='text', name='tgl_akhir', size='10', placeholder='yyyy-mm-dd' value=tglAtas)
                                    a(href='javascript:void(0)', onclick='if(self.gfPop)gfPop.fPopCalendar(document.postform.tgl_akhir);return false;')
                                        img#popcal(src='/assets/calender/calender.jpeg', alt='', name='popcal', width='34', height='29', border='0', align='absmiddle')
                                td(width='50')
                                    button.btn.btn-white.btn-info.btn-bold(type='submit', name='cari') Tampilkan Data
                    br
                table#dynamic-table.table.table-striped.table-bordered.table-hover
                    thead
                        tr
                            th Tanggal
                            th Suhu
                            th PWM
                    tbody
                        each val in items
                            tr
                                td= val.createdAt
                                td= val.suhu
                                td= val.pwm

append pageScript
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")
    script.
        var data =!{JSON.stringify(items)};
        var ctx = $('#chart');
        var dateData = data.map(function (d) {
            return moment(d.createdAt).format("H:m D-M");
        });
        var suhuData = data.map(function (d) {
            return d.suhu;
        });
        var pwmData = data.map(function (d) {
            return d.pwm;
        });

        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dateData,
                datasets: [
                    {
                        label: 'Suhu',
                        data: suhuData,
                        fill: false,
                        yAxisId: 'y-axis-1',
                        backgroundColor: '#EC932F',
                    },
                    {
                        label: 'PWM',
                        data: pwmData,
                        fill: false,
                        yAxisId: 'y-axis-2',
                        backgroundColor: '#71B37C',
                    }
                ]
            },
            options: {
                responsive: true
            }
        });