html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Login=
        link(href="assets/css/bootstrap.min.css" rel="stylesheet")
        link(href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet")   
        link(href="assets/css/justified-nav.css" rel="stylesheet")
    body
        .container
            form.form-signin(method="POST", action="/login")
                h2.form-signin-heading Please sign in
                label.sr-only(for='inputUsername') Username
                input#inputEmail.form-control(type='text', placeholder='Username',name="username", required='', autofocus='')
                label.sr-only(for='inputPassword') Password
                input#inputPassword.form-control(type='password', placeholder='Password', name="password", required='')
                .checkbox
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in